.header
	background-color: $white
	background-color: rgba($white, 0.9)
	+gradient($white, rgba($white, 0.8))
	position: fixed
	z-index: 100
	top: 0px
	left: 0px
	right: 0px
	height: 80px
	overflow: hidden

	&.is-teal
		.header--menu .header--menu-item.is-active
			color: $teal
			border-color: $teal

	&.is-blue
		.header--menu .header--menu-item.is-active
			color: $blue
			border-color: $blue

	&.is-purple
		.header--menu .header--menu-item.is-active
			color: $purple
			border-color: $purple

	&.is-red
		.header--menu .header--menu-item.is-active
			color: $red
			border-color: $red

	&.is-orange
		.header--menu .header--menu-item.is-active
			color: $orange
			border-color: $orange

	&.is-yellow
		.header--menu .header--menu-item.is-active
			color: $yellow
			border-color: $yellow

	&.is-green
		.header--menu .header--menu-item.is-active
			color: $green
			border-color: $green

	.header--logo
		float: left
		position: relative
		height: 50px
		width: 50px * (7/6)
		margin: 20px 0px 0px 30px

		img
			+transition-property(opacity)
			+transition-duration($long)
			+opacity(0)
			position: absolute
			z-index: 1
			top: 0px
			left: 0px
			height: 100%
			width: 100%

			&.is-active,
			&.is-deactivating
				+opacity(1)

			&.is-active
				z-index: 3

			&.is-deactivating
				z-index: 2

	.header--menu
		float: right
		padding: 0px
		margin: 0px
		height: 100px
		list-style: none
		font-family: "Verdana"
		margin-right: 10px

		li.header--menu-item
			+transition-duration($short)
			+transition-property(color border-color)
			float: left
			height: 80px
			line-height: 100px
			color: $charcoal
			margin: 0px
			text-transform: uppercase
			font-size: 14px
			letter-spacing: 0.5px
			font-weight: 100
			border-bottom: 2px solid transparent
			cursor: pointer

			a
				display: block
				height: 100%
				width: 100%
				padding: 0px 20px
				text-decoration: none
				color: $charcoal

			&:hover
				border-color: $grey

			&.is-active,
			&.is-active:active
				+transition-duration($long)
				border-color: $teal
				color: $teal-darker
				cursor: default
				background-color: $white